	// todo: add description here
	const r$CURRENT_SECONDS_UNIX = await(() => {
		const param1 = $1;	// todo param description
		const param2 = $2;	// todo param description
		return an$num(param1, param2);
	})();